.attribute-form{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: #2a2f35;
}
  .attribute-form-container{
    background-color: white;
    border-radius: 5px;
    width: 600px;
  }
    .attribute-form-header{
      /* background-color: white; */
      font-size: 21px;
      font-weight: 500;
      padding: 0 40px;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccd0d9;
    }
    .attribute-form-header-title{
    }
    .attribute-form-header-close{
      color: #aeb4bf;
      margin: -35px -40px 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

  .attribute-form-sections{
    background-color: #f3f5f9;
    padding: 40px;
    border-radius: 5px;
  }
    .attribute-form-section{
      /* border: 1px solid blue; */
    }
      .attribute-form-section-wrap{
        /* border: 1px solid blue; */
      }
      .attribute-form-section-title{
        /* border: 1px solid red; */
        font-size: 17px;
        font-weight: 600;
        letter-spacing: .25px;
        margin-bottom: 10px;
      }
      .attribute-form-section-select-bodytype{
        width: 249.59px;
        height: 46px;
      }
      .attribute-form-section-select{
        /* border: 1px solid purple; */
        width: 119.8px;
        height: 46px;
        /* outline: 0; */
      }
        .attribute-form-section-select select{
          height: 100%;
          width: 100%;
          /* outline: none; */
          -moz-appearance: none;
          -webkit-appearance: none;
          padding: 0 20px;
          font-size: 18px;
          font-weight: 100;
          /* outline: 0; */
          appearance: none;
          border-radius: 3px;
          border: 0;
        }
        .attribute-form-section-select select:focus{
          border: 0;
        }
        .height-in{
          margin-left: 10px;
        }

      .attribute-form-section-label{
        border: 1px solid #ccd0d9;
        width: 100%;
        height: 46px;
        background-color: white;
        display: flex;
        font-size: 19px;
        font-weight: 300;
        justify-content: center;
      }
        .attribute-form-section-label input{
          width: 90%;
        }
        .attribute-form-section-label input::placeholder{
          color: #2a2f357c;
        }

    .attribute-form-buttons{
      margin-top: 45px;
    }
      .attribute-form-buttons button{
        width: 120px;
        height: 50px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border-radius: 3px;
        text-align: center;
        transition: .1s;
      }
      .attribute-form-buttons-save{
        background-color: #0500be;
      }
      .attribute-form-buttons-save:hover{
        background-color: #9dbaf2;
      }
      .attribute-form-buttons-cancel{
        background-color: #9393a9;
        margin-left: 10px;
      }
      .attribute-form-buttons-cancel:hover{
        background-color: #9393a9b7;
      }

/* ETHNICITY */
.ethnicity-wrap{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  letter-spacing: .5px;
}
  .ethnicity-wrap label input{
    margin-right: 10px;
  }

/* ORIENTATION/GENDER */
.form-section-tags-container{
  background-color: yellow;
}
  .form-section-tag{
    background-color: violet;
  }

/* SELECT STYLING */
.selectlist-container{
  background-color: white;
  display: flex;
  border-radius: 3px;
  filter: drop-shadow(0px 1px 2px #ccd0d9);
  color: #9393a9;
  width: 249.50px;
}
.selectlist-container:hover{
  filter: drop-shadow(0px 1px 2px #9393a9b7);
  color: black;
}
.selectlist-container .selectlist, .selectlist-container .selectlist-arrow{
  box-sizing: border-box;
  flex: none;
}
.selectlist-container .selectlist{}
.selectlist-container .selectlist-arrow{
  margin-left: -10%;
  display: flex;
  align-items: center;
}
  .selectlist{
    /* width: 249.50px; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
    .select{
    }
    .selectlist .select{
      width: 100%;
    }
      .selectlist .select select{
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border: transparent;
        line-height: 1.5;
        width: 100%;
        padding: 10px;
        font-size: 17px;
        font-weight: 300;
      }
      .selectlist .select select:focus{
        outline: 0;
      }

.attribute-form-section-position{
  display: flex;
}

/* HEIGHT */
.selectlist-container-height{
  background-color: white;
  display: flex;
  border-radius: 3px;
  filter: drop-shadow(0px 1px 2px #ccd0d9);
  color: #9393a9;
  width: 119.8px;
}
.selectlist-container-height:hover{
  filter: drop-shadow(0px 1px 2px #9393a9b7);
  color: black;
}
.selectlist-container-height .selectlist-height, .selectlist-container-height .selectlist-arrow-height{
  box-sizing: border-box;
  flex: none;
}
.selectlist-container-height .selectlist-height{}
.selectlist-container-height .selectlist-arrow-height{
  margin-left: -20%;
  display: flex;
  align-items: center;
}
  .selectlist-height{
    width: 119.8px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
    .selectlist-height .select{
      width: 100%;
    }
      .selectlist-height .select select{
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border: transparent;
        line-height: 1.5;
        width: 100%;
        padding: 10px;
        font-size: 17px;
        font-weight: 300;
      }
      .selectlist-height .select select:focus{
        outline: 0;
      }

/* new basics form */
.form-tag-button{
  /* height: 36px; */
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #d8dce3;
  border-radius: 3px;
  color: #2a2f35dc;
  font-size: 17px;
  font-weight: 200;
}
.selected-tag{
  background: #ebedf2;
}