.attribute-form{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  color: #2a2f35;
}
  .attribute-form-container{
    background-color: white;
    border-radius: 5px;
    width: 600px;
  }
    .attribute-form-header{
      /* background-color: white; */
      font-size: 21px;
      font-weight: 500;
      padding: 0 40px;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccd0d9;
    }
    .attribute-form-header-title{
    }
    .attribute-form-header-close{
      color: #aeb4bf;
      margin: -35px -40px 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

  .attribute-form-sections{
    background-color: #f3f5f9;
    padding: 40px;
  }
    .attribute-form-buttons{
      margin-top: 45px;
    }
      .attribute-form-buttons button{
        width: 120px;
        height: 50px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border-radius: 3px;
        text-align: center;
        transition: .1s;
      }
      .attribute-form-buttons-save{
        background-color: #0500be;
      }
      .attribute-form-buttons-save:hover{
        background-color: #9dbaf2;
      }
      .attribute-form-buttons-cancel{
        background-color: #9393a9;
        margin-left: 10px;
      }
      .attribute-form-buttons-cancel:hover{
        background-color: #9393a9b7;
      }