.boost{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  height: 449px;
  width: 840px;
  padding: 60px;
}
  .boost-wrap{
    border-radius: 5px;
    width: 100%;
    display: flex;
  }
  .boost-content{
    background-color: #4c7bd9;
    width: 296px;
    padding: 32px;
    display: flex;
    justify-content: center;
  }
    .boost-mascot{
      width: 182px;
      height: 197.47px;
      padding-bottom: 17px;
    }


  .boost-options{
    background-color: white;
    width: 360px;
  }
    .boost-form{
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      .boost-form-section{
        border-bottom: 1px solid #f3f5f9;
        padding: 30px;
        display: flex;
        color: #949aa6;
        font-size: 17px;
        align-items: baseline;
        justify-content: center;
      }
        .boost-form-radio{
          margin-right: 20px;
          display: flex;
        }
        .boost-form-amt{
          margin-right: 5px;
          color: black;
          font-weight: 500;
        }

      .boost-submit{
        height: 50px;
        margin: 27px 0 20px;
        width: 180px;
        background-color: blueviolet;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 7px 2px;
        border-radius: 5px;
      }
      .boost-close{
        color: #949aa6;
        font-size: 15px;
      }