.doubletake-container{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-flow: nowrap;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
  color: #2a2f35;
}
.doubletake-container .doubletake-bg, .doubletake-container .doubletake-content{
  box-sizing: border-box;
  width: 100%;
  flex: none;
}
.doubletake-container .doubletake-bg{}
  .doubletake-bg-header{
    height: 182px;
    background-color: #1a1a1a;
  }
.doubletake-container .doubletake-content{
  margin-left: -100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: green; */
}
  .doubletake{
    /* border: 5px solid blueviolet; */
    /* background-color: violet; */
    width: 940px;
  }
    .doubletake-header{
      /* background-color: tomato; */
      padding: 20px 0;
    }
      .doubletake-matchlist-wrap{
        /* background-color: blue; */
        display: flex;
      }
        .doubletake-undo{
          margin-left: -83px;
          /* background-color: yellow; */
          padding-right: 23px;
        }
          .doubletake-undo button{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 3px solid #413f3f;
            color: #413f3f;
            text-align: center;
            font-size: 20px;
            transition: 1s;
          }
          .doubletake-undo button:hover{
            border: 3px solid white;
            color: white;
          }
        .doubletake-matchlist{
          width: 940px;
          /* background-color: blue; */
          display: flex;
          justify-content: space-between;
        }
          .doubletake-matchlist img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid transparent;
          }

    .doubletake-preview{
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.14);
      border-radius: 4px;
      padding: 0 30px;
    }
      .doubletake-preview-info{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
      }
        .doubletake-preview-info-wrap{}
          .doubletake-preview-info-asl{
            display: flex;
          }
            .doubletake-preview-info-asl-details{
              display: flex;
            }

      .doubletake-preview-info-buttons{}
        .doubletake-preview-pass{}
        .doubletake-preview-like{}

      .doubletake-gallery-wrap{
        overflow: hidden;
      }
        .doubletake-gallery{
          width: fit-content;
          display: flex;
        }
          .doubletake-gallery img{
            width: 262px;
            margin-right: 10px;
            border-radius: 4px;
          }

      .doubletake-preview-footer-wrap{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
      }
        .doubletake-preview-footer{
          color: #ccd0d9;
        }
          .doubletake-preview-footer button{
            border-radius: 50%;
            /* background-color: #ccd0d9; */
            border: 2px solid #ccd0d9;
            height: 10px;
            width: 10px;
            margin-left: 5px;
          }