.black{
  color: #2a2f35;
}
.display-question-height{
  height: 428px;
}
.display-flex{
  display: flex;
}
.jc-space-between{
  justify-content: space-between;
}
.jc-space-evenly{
  justify-content: space-evenly;
}
.input-spacing{
  margin-left: 10px;
}
.flex-column{
  flex-direction: column;
}
.height-spacing{
  margin-top: 40px;
}
.height-spacing-mini{
  margin-top: 10px;
}
.input-half-width{
  width: 100%;
}
.passlike-buttons{
  width: 157px;
  height: 52px;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  transition: .3s;
}
  .passlike-pass{
    color: black;
    border: 2px solid #1a1a1a;
  }
  .passlike-pass:hover{
    background-color: #1a1a1a;
    color: white;
    border: 2px solid white;
  }
  .passlike-like{
    color: #ff4dc4;
  }
  .passlike-like:hover{
    background-color: #ff4dc4;
    color: white;
  }

  /* coming soon */
  .coming-soon-container{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    font-weight: 600;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .csc-discover{
    background-image: url('https://chillabit-pro.s3-us-west-1.amazonaws.com/comingsoon-explore.jpg');
  }
  .csc-search{
    background-image: url('https://chillabit-pro.s3-us-west-1.amazonaws.com/comingsoon-search.jpg');
  }
  .csc-likes{
    background-image: url('https://chillabit-pro.s3-us-west-1.amazonaws.com/comingsoon-dinner.jpg');
  }
  .csc-discover-border{
    color: orangered;
    border: 1px dotted orangered;
    border-bottom: 5px solid orangered;
  }
  .csc-search-border{
    border: 1px dotted green;
    color: green;
    border-bottom: 5px solid green;
  }
  .csc-likes-border{
    border: 1px dotted yellow;
    color: yellow;
    border-bottom: 5px solid yellow;
  }
    .coming-soon{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .coming-soon-other{
      display: flex;
      align-items: center;
      height: 50%;
    }
      .coming-soon-header-discover{
        padding: 40px 0;
        color: orangered;
      }
      .coming-soon-header-search{
        padding: 40px 0;
        color: green;
      }
      .coming-soon-header-likes{
        padding: 40px 0;
        color: yellow;
      }
      .coming-soon-countdown{
        display: flex;
        justify-content: space-evenly;
        width: 835px;
      }
        .coming-soon-countdown-time{
          width: 180px;
          height: 180px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          letter-spacing: 5px;
        }
          .coming-soon-countdown-increment{
            letter-spacing: 0;
            font-size: 20px;
            font-weight: 300;
          }

/* profile */
/* online status */
.asl-online{
  color: #00d280;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
  .asl-online i{
    padding: 5px;
  }

/* header pencil */
.asl-edit{
  margin-left: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

/* header ellipsis */
.profile-header-basics-asl-details button{
  padding: 1px 6px;
  font-size: 23px;
  margin-left: 4px;
  color: gray;
}
.profile-header-basics-asl-details button:hover{
  color: #ebedf2;
}

/* questions like */
.match-profile-section-like i{
  color: #ff4dc4;
}

/* questions comment */
.match-profile-section-comment i{
  color: #0500be;
}

/* questions select arrow */
.user-profile-section-header i{
  color: #0500be;
  font-size: 19px;
}

/* answer pencil */
.user-profile-section-answer i{
  color: #0500be;
}

/* attributes icons */
.attribute-match i{
  font-size: 24px;
}

/* attributes user toggle */
.user-att-toggle{
  display: flex;
  align-items: center;
}
  .user-att-toggle i{
    color: #0500be;
    font-size: 19px;
  }

/* attributes form */
/* select arrow */
.selectlist-arrow{}
  .selectlist-arrow i{
  }

/* basics form*/
/* x */
.basics-form-header-icon{
  height: 50px;
  width: 50px;
  margin-top: -34px;
  margin-right: -39px;
}
  .basics-form-header .basics-form-header-icon i{
    color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

/* pencil */
.basics-form-content-inputs .basics-form-content-inputs-button i{
  font-size: 12px;
}
.basics-form-content-inputs .basics-form-content-inputs-button:hover i{
  color: #1fc174;
}

/* down */
.basics-form-content-inputs-list-arrow{}
  .basics-form-content-inputs .basics-form-content-inputs-list .basics-form-content-inputs-list-arrow i{
  }

/* modal form */
/* x */
.modal-form-header-close{
  height: 50px;
  width: 50px;
  margin-top: -34px;
  margin-right: -39px;
}
  .modal-form .modal-form-header .modal-form-header-close i{
    color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

/* essay form */
/* camera */
.essay-form-answer-camera{
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
  .essay-form-answer-camera i{
    font-size: 21px;
    padding: 10px;
  }
  .essay-form-answer-camera i:hover{
    animation: bounce 1s;
  }

@keyframes bounce {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 7px;
  }
  100% {
    margin-bottom: 0px;
  }
};

/* doubletake */
/* undo */