.black{
  color: #2a2f35;
}
.display-question-height{
  height: 428px;
}
.passlike-buttons{
  width: 157px;
  height: 52px;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  transition: .3s;
}
  .passlike-pass{
    color: black;
  }
  .passlike-pass:hover{
    background-color: #1a1a1a;
    color: white;
    border: 2px solid white;
  }
  .passlike-like{
    color: #ff4dc4;
  }
  .passlike-like:hover{
    background-color: #ff4dc4;
    color: white;
  }

/* profile */
/* online status */
.asl-online{
  color: #00d280;
  font-size: 11px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
  .asl-online i{
    padding: 5px;
  }

/* header pencil */
.asl-edit{
  margin-left: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

/* header ellipsis */
.profile-header-basics-asl-details button{
  padding: 1px 6px;
  font-size: 23px;
  margin-left: 4px;
  color: gray;
}
.profile-header-basics-asl-details button:hover{
  color: #ebedf2;
}

/* questions toggle */
.questions-section-header-toggle i{
  color: #0500be;
  font-size: 19px;
}

/* questions like */
.match-profile-section-like i{
  color: #ff4dc4;
}

/* questions comment */
.match-profile-section-comment i{
  color: #0500be;
}

/* basics form*/
/* x */
.basics-form-header-icon{
  height: 50px;
  width: 50px;
  margin-top: -34px;
  margin-right: -39px;
}
  .basics-form-header .basics-form-header-icon i{
    color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

/* pencil */
.basics-form-content-inputs .basics-form-content-inputs-button i{
  font-size: 12px;
}
.basics-form-content-inputs .basics-form-content-inputs-button:hover i{
  color: #1fc174;
}

/* down */
.basics-form-content-inputs-list-arrow{}
  .basics-form-content-inputs .basics-form-content-inputs-list .basics-form-content-inputs-list-arrow i{
  }

/* modal form */
/* x */
.modal-form-header-close{
  height: 50px;
  width: 50px;
  margin-top: -34px;
  margin-right: -39px;
}
  .modal-form .modal-form-header .modal-form-header-close i{
    color: gray;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }