.navbar-container{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  height: 65px;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
}
  .navbar{
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
    .navbar-content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .navbar-content-logo{
        font-family: 'plexi';
        font-size: 50px;
        color: orangered;
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .navbar-content-links-wrap{
        display: flex;
        height: 100%;
        color: #8c8c8c;
        margin: 0;
      }
        .navbar-content-link{
          padding: 0 16px;
          height: 94%;
          display: flex;
          align-items: center;
        }
        .navbar-content-link:hover{
          background-color: #333;
          border-bottom: 4px solid #333;
        }
        .navbar-content-link-active{
          border-bottom: 4px solid #ff71ce;
          color: white;
        }
        .navbar-content-link-active:hover{
          border-bottom: 4px solid #ff71ce;
          color: white;
          background-color: #333;
        }
        .far.fa-images, .far.fa-compass, .fas.fa-search, .far.fa-heart, .far.fa-comment-alt{
          margin-right: 8px;
        }
        .fas.fa-search{
          transform: scaleX(-1);
        }

    .navbar-misc{
      display: flex;
      align-items: center;
    }
      .navbar-profile{
        display: flex;
        align-items: center;
      }
        .navbar-profile-img{
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-right: 8px;
        }
        .navbar-profile-user{
        }
        .fas.fa-angle-down{
          height: 19.5px;
          width: 19.5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      .navbar-btn{
        width: 112px;
        height: 40px;
        border-radius: 5px;
        transition: 1s;
        margin-left: 12.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
      .nbjoin{
        background-color: #01cdfe;
      }
      .nbjoin:hover{
        background-color: #13a7cc;
      }
      .nbboost{
        background-color: #b967ff;
      }
      .nbboost:hover{
        background-color: #8a43c9;
      }
        .fas.fa-bolt{
          padding-right: 5px;
        }