.navbar-container{
  height: 65px;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
}
  .navbar{
    width: 1440px;
    border: 1px solid red;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
    .navbar-content{
      border: 1px solid black;
    }
      .navbar-content-logo{
        border: 1px solid black;
      }
      .navbar-content-links-wrap{
        border: 1px solid black;
      }
        .navbar-content-link{
          border: 1px solid red;
        }
        .navbar-content-link-active{
          border: 1px solid brown;
        }


    .navbar-misc{
      border: 1px solid purple;
    }
      .navbar-profile{
        border: 1px solid purple;
      }
      .navbar-join{
        border: 1px solid purple;
      }
      .navbar-boost{
        border: 1px solid purple;
      }