.profile{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
  .profile-basics{
    background-color: #1a1a1a;
    height: 200px;
    display: flex;
    justify-content: center;
  }
    .profile-basics-info{
      padding-top: 50px;
      display: flex;
      width: 1000px;
    }
    .profile-basics-img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      }

      .profile-basics-details{
        display: flex;
        padding: 8px 12px 12px;
        margin-left: 8px;
        margin-top: 37px;
        flex-direction: column;
        color: white;
      }
        .profile-basics-user{
          font-size: 35px;
          font-weight: 200;
          height: 50px;
        }
          .fas.fa-pencil-alt{
            font-size: 17px;
            font-weight: 600;
          }

        .profile-basics-asl{
          font-size: 19px;
          font-weight: 300;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          .profile-basics-asl-age{
          }
          .profile-basics-asl-spacer{
            margin-left: 4px;
            font-size: 15px;
            font-weight: 200;
            color: #949aa6;
            width: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .profile-basics-asl-location{
            margin-left: 4px;
          }

  .profile-content-wrap{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 30px;
  }
    .profile-content{
      width: 1000px;
      display: flex;
    }
      .profile-content-questions{
        width: 53%;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #f3f5f9;
        filter: drop-shadow(0 1mm 1mm #d6d8db);
        margin-right: 50px;
      }
        .profile-content-section{
          border-bottom: 1px solid #f3f5f9;
          display: flex;
          padding: 20px;
          align-items: center;
          justify-content: space-between;
        }
          .profile-content-aboutme{
            width: 440px;
          }
            .profile-content-aboutme-title{
              color: #949aa6;
              font-weight: 600;
              font-size: 13px;
              letter-spacing: 1px;
              margin-bottom: 8px;
            }
            .profile-content-aboutme-question{
              font-size: 18px;
              font-weight: 500;
            }
          .fas.fa-angle-right{
            font-size: 20px;
            padding: 1px;
            width: 30px;
          }

        .profile-content-aboutme-essay{
          padding: 20px;
          font-size: 17px;
          font-weight: 300;
        }
          .profile-content-aboutme-essay-text{
            /* border: 1px solid fuchsia; */
          }
            .profile-content-aboutme-essay-edit{
              /* border: 1px solid blue; */
              padding-left: 10px;
              font-size: 16px;
            }

      .profile-content-details-container{
        /* border: 1px solid blue; */
        /* width: 40%; */
      }
        .profile-content-details{
          /* border: 1px solid red; */
          /* width: 40%; */
          display: flex;
          align-items: center;
          margin-bottom: -8px;
        }
          .profile-content-details-opt{
            /* border: 1px solid purple; */
            display: flex;
          }
            .profile-content-details .profile-content-details-opt i{
              color: yellow;
              font-size: 24px;
              width: 40px;
            }
            .profile-content-details-desc{
              width: 246px;
              height: 50px;
              font-size: 18px;
            }

          .profile-content-details-edit{
            color: rebeccapurple;
            /* padding-left: 10px; */
            width: 30px;
            height: 27px;
            /* border: 1px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .profile-content-details-edit i{
              /* padding-left: 10px; */
              font-size: 18px;
            }