.profile{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
  .profile-basics{
    background-color: #1a1a1a;
    height: 200px;
    display: flex;
    justify-content: center;
  }
    .profile-basics-info{
      padding-top: 50px;
      display: flex;
      width: 1000px;
    }
    .profile-basics-img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      }

      .profile-basics-details{
        /* border: 1px solid black; */
        display: flex;
        padding: 8px 12px 12px;
        margin-left: 8px;
        margin-top: 37px;
        flex-direction: column;
        color: white;
      }
        .profile-basics-user{
          /* border: 1px solid blue; */
          font-size: 35px;
          font-weight: 200;
          height: 50px;
        }
          .fas.fa-pencil-alt{
            /* border: 1px solid red; */
            font-size: 17px;
            font-weight: 600;
          }

        .profile-basics-asl{
          /* border: 1px solid purple; */
          font-size: 19px;
          font-weight: 300;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          .profile-basics-asl-age{
            /* border: 1px solid purple; */
          }
          .profile-basics-asl-spacer{
            /* border: 1px solid purple; */
            margin-left: 4px;
            font-size: 15px;
            font-weight: 200;
            color: #949aa6;
            width: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .profile-basics-asl-location{
            /* border: 1px solid purple; */
            margin-left: 4px;
          }