html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* General additions after reset */

html, body{
  height: 100%;
}
body{
  display: flex;
  background-color: #f3f5f9;
  /* remove after styling is finished */
  /* background-color: orangered;  */
}

#root{
  width: 100%;
}

.app{
  height: 100%;
}

@font-face{
  font-family: "plexi";
  src: url("../fonts/Plexifont-BV/plexifont.ttf") format("truetype")
}