.hide{
  opacity: 0;
  height: 0;
}

.signup-form{
  background-color: #f0f2f6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
}
  .pmp-logo{
    font-family: 'plexi';
    font-size: 60px;
    /* border: 1px solid red; */
    width: 100%;
  }
  .signup-form-wrap{
    /* border: 1px solid purple; */
    height: 610px;
    width: 460px;
  }
    .signup-form-header{
      display: flex;
      justify-content: space-evenly;
      height: 66px;
    }
      .fas.fa-chevron-left{
        font-size: 13px;
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .signup-form-header-title{
        /* border: 1px solid blue; */
        width: 95%;
        font-size: 19px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .signup-form-section{
      /* border: 1px solid black; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      .signup-form-section-title{
        /* border: 1px solid green; */
        font-size: 32px;
        font-weight: 600;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .signup-form-section-input-container{
          /* border: 1px solid red; */
          height: 439px;
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
          .signup-form-section-field-details{
            /* border: 1px solid purple; */
            width: 100%;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
            .signup-form-section-field{
              /* border: 1px solid red; */
              /* height: 100%; */
            }
            .signup-form-section-error{
              /* border: 1px solid orange; */
              /* height: 100%; */
              color: #fb674e;
              transition: 1s;
              font-size: 12px;
            }

          .signup-form-section-label{
            /* border: 1px solid blue; */
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: white;
            border-radius: 3px;
          }
            .signup-form-section-input{
              /* border: 1px solid green; */
              width: 90%;
              height: 90%;
            }
              .signup-form-section-input::placeholder{
                color: lightgray;
              }
            .fas.fa-exclamation{
              opacity: 0;
              color: #fb674e;
              transition: 1s;
              font-size: 15px;
            }


/* 

        .signup-form-section-input-wrap{
          border: 1px solid red;
          height: 439px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          .signup-form-section-label{
            border: 1px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 90px;
            padding: 1px 1px 1px 2px;
          }
            .signup-form-section-field-wrap{
              border: 1px solid orange;
              width: 310px;
              height: 28px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
            }
              .signup-form-section-field{
                border: 1px solid green;
                width: 391px;
                width: 25%;
                padding-left: 20px;
              }
              .signup-form-section-error{
                font-size: 15px;
                color: #fb674e;
                width: 75%;
                width: 391px;
                border: 1px solid red;
              }

            .signup-form-section-input{
              border: 1px solid blue;
              width: 100%;
              height: 50px;
            } */